/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

/*===========================================================================================================================================================

Hello! If this is your first time looking at a stylesheet within the text editor view, what you are reading right now is a "comment". Comments are added throughout this stylesheet with the purpose of making the source code easier to understand, comments will not be interpreted during the compile process. Since comments are not interpreted during the compile process, feel free to add or remove any comments.

For help with MadCap Flare go to Help Ribbon > Topics Section > Open Help. Alternatively visit the Flare Online Help at help.madcapsoftware.com

If you have any questions regarding how to work with this stylesheet or template project, please contact MadCap Technical Support. 
https://www.madcapsoftware.com/support/contact-options.aspx

===========================================================================================================================================================*/

/*==Topic General Styles==*/

body
{
	color: #404040;
	font-family: Arial, Avenir, Myriad;
	line-height: 1.7em;
}

h1
{
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
}

h2
{
	font-size: 1.2em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
}

h3
{
	font-size: 1.1em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
}

h4
{
	
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
}

img	/*Setting max-width: 100%; property makes images always fit the width of the container*/
{
	max-width: 100%;
}

img.thumbnail
{
	mc-thumbnail: popup;
}

a.MCBreadcrumbsLink
{
	font-style: italic;
	text-decoration: underline;
}

a.MCBreadcrumbsLink:visited
{
	color: #000000;
}

a.MCBreadcrumbsLink:hover
{
	color: #ad00ad;
}

MadCap|breadcrumbsProxy
{
	border-bottom: none;
	font-size: .7em;
	font-style: italic;
	mc-breadcrumbs-prefix: 'You are here: ';
}

MadCap|xref
{
	color: #2D8DCC;
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
}

MadCap|xref:hover
{
	color: #4F7476;
}

MadCap|dropDown
{
	mc-open-image: url('../Images/Assets/Icons/Arrows/arrow-down-gray.png');
	mc-closed-image: url('../Images/Assets/Icons/Arrows/arrow-right-gray.png');
}

MadCap|dropDownHotspot
{
	color: #f59405;
	font-weight: bold;
}

/*==Master Page Topic Layout==*/

.main-section	/*This style applies the gradient background. This HTML element is not on a master page, this element is used at compile time.*/
{
	background: #ad00ad;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #ad00ad, #f59405);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #ad00ad, #f59405);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #ad00ad, #f59405);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #ad00ad, #f59405);
	/* Standard syntax */
	background-repeat: no-repeat;
	background-attachment: fixed;
}

div.content-container	/*Wraps the topic content on the masterpage and provides the white background behind topics.*/
{
	margin-right: 0;
	background-color: #FFF;
	padding: 25px;
	min-height: 95vh;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border: 1px solid #d3d3d3;
}

div.side-content	/*Container for Menu proxy*/
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 33.33%;
}

MadCap|indexProxy
{
	mc-output-support: all;
}

/*===========================================================================================================================================================
Styles after this point are styles that are for specific mediums. If any additional styles are added to this template they will be listed after mediums.
[@media tablet] declares styles that will apply when the screen is in tablet view
[@media mobile] declares styles that will apply when the screen is in mobile view
===========================================================================================================================================================*/

@media only screen and (max-width: 1279px)
{
	
}

@media only screen and (max-width: 767px)
{
	.main-section > .outer-row	/*Removes the padding around the body proxy in mobile*/
	{
		padding: 0;
	}

	div.home-master-page-footer > div	/*Adds separators to the footer items when in mobile layout*/
	{
		border-bottom: 1px solid #828282;
	}
}

